In [92]:
from pyspark.sql import SparkSession, Row
from pyspark.sql import functions as F
from pyspark.sql.types import StringType

In [2]:
spark = SparkSession.builder.appName("deo").getOrCreate()

In [3]:
spark

# **DataFrame Creation and Inspection**

In [28]:
# 1.1 Load the CSV using Pandas, PySpark, and Dask.

df = spark.read.csv("/content/drive/MyDrive/Datasets/Copy of Sales_Dataset__500_Records_.csv", inferSchema=True, header=True)

In [29]:
# 1.2 Display the first 5 and last 5 records.
df.show(5)
spark.createDataFrame(df.tail(5)).show()

+-------+--------------+---------------+------+----------+--------------+--------+----------------+-----------+-------------+
|OrderID|  CustomerName|ProductCategory|Amount| OrderDate|DeliveryStatus|Discount|            City|PaymentMode|CustomerSince|
+-------+--------------+---------------+------+----------+--------------+--------+----------------+-----------+-------------+
|   2824| Donald Walker|          Books|783.04|2024-12-26|      Returned|    0.15|    Lake Joyside|Credit Card|   2020-10-15|
|   7912|  Brandon Hall|      Groceries| 905.0|2024-09-12|     Cancelled|    0.03|   New Jamesside|     Wallet|   2022-03-15|
|   4611|  Donald Booth|        Fashion|657.96|2025-01-12|      Returned|    0.01|    Lake Roberto|     Wallet|   2021-08-07|
|   3547|Phillip Garcia|        Fashion|606.89|2024-03-24|      Returned|    0.15|West Melanieview|     Wallet|   2020-08-08|
|   8527|  Valerie Gray|           Toys| 77.87|2024-08-04|     Delivered|    0.17|       Mariastad|       Cash|   2022-11-15|
+-------+--------------+---------------+------+----------+--------------+--------+----------------+-----------+-------------+
only showing top 5 rows

+-------+---------------+---------------+------+----------+--------------+--------+---------------+-----------+-------------+
|OrderID|   CustomerName|ProductCategory|Amount| OrderDate|DeliveryStatus|Discount|           City|PaymentMode|CustomerSince|
+-------+---------------+---------------+------+----------+--------------+--------+---------------+-----------+-------------+
|   2930|   Jaime Harris|        Fashion| 680.0|2025-02-16|      Returned|     0.2|    Robertville|       Cash|   2021-01-28|
|   7980|     Dawn Wyatt|        Fashion|285.32|2024-04-26|     Cancelled|    0.06|     Cherylfurt|        UPI|   2021-04-14|
|   7770|  Kristin White|      Groceries|792.11|2024-08-10|      Returned|    0.07|       Kingport|        UPI|   2022-11-16|
|   6641|Jennifer Taylor|           Toys|578.49|2025-04-03|     Delivered|     0.1|Lake Jerryburgh|       Cash|   2020-11-04|
|   4513|    Rachel Owen|    Electronics|904.97|2024-09-21|     Delivered|    0.12|  East Paultown|       Cash|   2020-10-21|
+-------+---------------+---------------+------+----------+--------------+--------+---------------+-----------+-------------+

In [30]:
# 1.3 Print schema and check data types.
df.printSchema()

root
 |-- OrderID: integer (nullable = true)
 |-- CustomerName: string (nullable = true)
 |-- ProductCategory: string (nullable = true)
 |-- Amount: double (nullable = true)
 |-- OrderDate: date (nullable = true)
 |-- DeliveryStatus: string (nullable = true)
 |-- Discount: double (nullable = true)
 |-- City: string (nullable = true)
 |-- PaymentMode: string (nullable = true)
 |-- CustomerSince: date (nullable = true)

# **Selection, Renaming, and Filtering**

In [31]:
# 2.1 Select only OrderID , CustomerName , and Amount
df.select(["OrderID", "CustomerName", "Amount"]).show()

+-------+------------------+------+
|OrderID|      CustomerName|Amount|
+-------+------------------+------+
|   2824|     Donald Walker|783.04|
|   7912|      Brandon Hall| 905.0|
|   4611|      Donald Booth|657.96|
|   3547|    Phillip Garcia|606.89|
|   8527|      Valerie Gray| 77.87|
|   4150|       Amber Perez|352.37|
|   5554|        Roy Martin|148.33|
|   2169|    Carolyn Daniel| 14.09|
|   6313|       Patty Perez| 79.83|
|   6155|Jonathan Wilkerson|882.68|
|   9830|       Kevin Hurst|870.55|
|   9085| Anthony Rodriguez|921.73|
|   2040|     Kyle Mcdonald|327.52|
|   6573|    Jeffrey Chavez|676.02|
|   2743|  Elizabeth Fowler| 47.06|
|   9837|     Tammy Sellers| 46.15|
|   6038|     David Bradley|348.51|
|   3060|       John Pierce|362.09|
|   4295|   Jennifer Powers|684.26|
|   5061|    George Chapman|251.89|
+-------+------------------+------+
only showing top 20 rows

In [32]:
# 2.2 Rename Amount to OrderAmount
df = df.withColumnRenamed("Amount", "OrderAmount")
df.show()

+-------+------------------+---------------+-----------+----------+--------------+--------+-----------------+-----------+-------------+
|OrderID|      CustomerName|ProductCategory|OrderAmount| OrderDate|DeliveryStatus|Discount|             City|PaymentMode|CustomerSince|
+-------+------------------+---------------+-----------+----------+--------------+--------+-----------------+-----------+-------------+
|   2824|     Donald Walker|          Books|     783.04|2024-12-26|      Returned|    0.15|     Lake Joyside|Credit Card|   2020-10-15|
|   7912|      Brandon Hall|      Groceries|      905.0|2024-09-12|     Cancelled|    0.03|    New Jamesside|     Wallet|   2022-03-15|
|   4611|      Donald Booth|        Fashion|     657.96|2025-01-12|      Returned|    0.01|     Lake Roberto|     Wallet|   2021-08-07|
|   3547|    Phillip Garcia|        Fashion|     606.89|2024-03-24|      Returned|    0.15| West Melanieview|     Wallet|   2020-08-08|
|   8527|      Valerie Gray|           Toys|      77.87|2024-08-04|     Delivered|    0.17|        Mariastad|       Cash|   2022-11-15|
|   4150|       Amber Perez|          Books|     352.37|2024-01-13|     Cancelled|    0.24|  Port Jesseville|       Cash|   2022-01-13|
|   5554|        Roy Martin|           Toys|     148.33|2024-03-04|     Cancelled|    0.27|      Lake Joseph|       Cash|   2023-04-29|
|   2169|    Carolyn Daniel|    Electronics|      14.09|2023-10-07|     Delivered|    0.25|         Grayside|Credit Card|   2021-05-09|
|   6313|       Patty Perez|      Groceries|      79.83|2023-06-27|     Cancelled|    0.12|      Richardland|Credit Card|   2021-04-25|
|   6155|Jonathan Wilkerson|        Fashion|     882.68|2024-10-14|     Cancelled|    0.27|       Thomasberg|       Cash|   2021-06-20|
|   9830|       Kevin Hurst|          Books|     870.55|2024-04-08|     Delivered|    0.22|      Jeffreyberg|     Wallet|   2022-08-02|
|   9085| Anthony Rodriguez|      Groceries|     921.73|2024-10-02|     Cancelled|    0.03|        Port Erin|        UPI|   2022-12-15|
|   2040|     Kyle Mcdonald|           Toys|     327.52|2023-12-15|      Returned|    0.06|Lake Jenniferside|     Wallet|   2021-07-21|
|   6573|    Jeffrey Chavez|          Books|     676.02|2024-12-14|     Cancelled|    0.19|      Teresaburgh|     Wallet|   2022-07-30|
|   2743|  Elizabeth Fowler|    Electronics|      47.06|2024-09-18|     Delivered|    0.13|   East Nathaniel|       Cash|   2021-02-07|
|   9837|     Tammy Sellers|          Books|      46.15|2024-09-10|     Cancelled|    0.05|       Tracyville|        UPI|   2021-12-17|
|   6038|     David Bradley|        Fashion|     348.51|2023-08-03|      Returned|    0.23|    Lake Toddland|        UPI|   2022-09-07|
|   3060|       John Pierce|           Toys|     362.09|2023-12-25|      Returned|    0.03|       Brandtside|       Cash|   2023-05-09|
|   4295|   Jennifer Powers|    Electronics|     684.26|2024-03-19|     Cancelled|    0.21|         Lammouth|        UPI|   2020-12-06|
|   5061|    George Chapman|    Electronics|     251.89|2023-11-28|       Pending|    0.27|       North Chad|       Cash|   2023-02-07|
+-------+------------------+---------------+-----------+----------+--------------+--------+-----------------+-----------+-------------+
only showing top 20 rows

In [33]:
# 2.3 Filter orders where Amount > 500.
df.filter(df.OrderAmount > 500).show()

+-------+------------------+---------------+-----------+----------+--------------+--------+-----------------+-----------+-------------+
|OrderID|      CustomerName|ProductCategory|OrderAmount| OrderDate|DeliveryStatus|Discount|             City|PaymentMode|CustomerSince|
+-------+------------------+---------------+-----------+----------+--------------+--------+-----------------+-----------+-------------+
|   2824|     Donald Walker|          Books|     783.04|2024-12-26|      Returned|    0.15|     Lake Joyside|Credit Card|   2020-10-15|
|   7912|      Brandon Hall|      Groceries|      905.0|2024-09-12|     Cancelled|    0.03|    New Jamesside|     Wallet|   2022-03-15|
|   4611|      Donald Booth|        Fashion|     657.96|2025-01-12|      Returned|    0.01|     Lake Roberto|     Wallet|   2021-08-07|
|   3547|    Phillip Garcia|        Fashion|     606.89|2024-03-24|      Returned|    0.15| West Melanieview|     Wallet|   2020-08-08|
|   6155|Jonathan Wilkerson|        Fashion|     882.68|2024-10-14|     Cancelled|    0.27|       Thomasberg|       Cash|   2021-06-20|
|   9830|       Kevin Hurst|          Books|     870.55|2024-04-08|     Delivered|    0.22|      Jeffreyberg|     Wallet|   2022-08-02|
|   9085| Anthony Rodriguez|      Groceries|     921.73|2024-10-02|     Cancelled|    0.03|        Port Erin|        UPI|   2022-12-15|
|   6573|    Jeffrey Chavez|          Books|     676.02|2024-12-14|     Cancelled|    0.19|      Teresaburgh|     Wallet|   2022-07-30|
|   4295|   Jennifer Powers|    Electronics|     684.26|2024-03-19|     Cancelled|    0.21|         Lammouth|        UPI|   2020-12-06|
|   1964|      Taylor Heath|           Toys|      578.5|2023-07-28|     Cancelled|    0.01|   West Elizabeth|       Cash|   2021-04-30|
|   9834|    Timothy Duncan|    Electronics|     944.55|2024-06-04|     Cancelled|    0.07|      Port Thomas|     Wallet|   2022-02-24|
|   3296|     Donald Wright|        Fashion|     579.99|2025-05-20|     Cancelled|    0.25|South Lindseyside|     Wallet|   2020-11-01|
|   4502|  Stephanie Martin|    Electronics|     656.32|2023-06-04|       Pending|     0.2|       Bakermouth|Credit Card|   2021-08-19|
|   1931|      Angela Lopez|    Electronics|     686.21|2024-09-07|     Cancelled|    0.17|Lake Michellefurt|        UPI|   2020-12-05|
|   5033|     Amanda Miller|           Toys|     552.76|2024-10-25|       Pending|    0.21|     Sarahborough|     Wallet|   2023-04-08|
|   6147|      James Powers|           Toys|     561.91|2024-01-22|     Cancelled|    0.05|      Stewartland|Credit Card|   2020-06-16|
|   2127|      Jaclyn Moore|      Groceries|     933.32|2025-03-11|      Returned|    0.01|      Cherylhaven|       Cash|   2020-06-14|
|   5905|   Ashley Humphrey|          Books|     844.87|2023-12-25|       Pending|    0.28|  North Juliaberg|       Cash|   2021-07-30|
|   2512|   Sandra Williams|           Toys|     630.21|2024-02-17|       Pending|    0.08|        Lake Tina|        UPI|   2021-02-08|
|   8239|     Jessica Smith|          Books|     610.08|2023-07-31|     Delivered|    0.09|        New Barry|        UPI|   2021-12-27|
+-------+------------------+---------------+-----------+----------+--------------+--------+-----------------+-----------+-------------+
only showing top 20 rows

In [34]:
# 2.4 Filter orders from a specific city using .query() or .filter().
df.filter(df.City == 'Lammouth').show()

+-------+---------------+---------------+-----------+----------+--------------+--------+--------+-----------+-------------+
|OrderID|   CustomerName|ProductCategory|OrderAmount| OrderDate|DeliveryStatus|Discount|    City|PaymentMode|CustomerSince|
+-------+---------------+---------------+-----------+----------+--------------+--------+--------+-----------+-------------+
|   4295|Jennifer Powers|    Electronics|     684.26|2024-03-19|     Cancelled|    0.21|Lammouth|        UPI|   2020-12-06|
+-------+---------------+---------------+-----------+----------+--------------+--------+--------+-----------+-------------+

# **Data Manipulation**

In [35]:
# 3.1 Drop CustomerSince column.
df.drop("CustomerSince").show()

+-------+------------------+---------------+-----------+----------+--------------+--------+-----------------+-----------+
|OrderID|      CustomerName|ProductCategory|OrderAmount| OrderDate|DeliveryStatus|Discount|             City|PaymentMode|
+-------+------------------+---------------+-----------+----------+--------------+--------+-----------------+-----------+
|   2824|     Donald Walker|          Books|     783.04|2024-12-26|      Returned|    0.15|     Lake Joyside|Credit Card|
|   7912|      Brandon Hall|      Groceries|      905.0|2024-09-12|     Cancelled|    0.03|    New Jamesside|     Wallet|
|   4611|      Donald Booth|        Fashion|     657.96|2025-01-12|      Returned|    0.01|     Lake Roberto|     Wallet|
|   3547|    Phillip Garcia|        Fashion|     606.89|2024-03-24|      Returned|    0.15| West Melanieview|     Wallet|
|   8527|      Valerie Gray|           Toys|      77.87|2024-08-04|     Delivered|    0.17|        Mariastad|       Cash|
|   4150|       Amber Perez|          Books|     352.37|2024-01-13|     Cancelled|    0.24|  Port Jesseville|       Cash|
|   5554|        Roy Martin|           Toys|     148.33|2024-03-04|     Cancelled|    0.27|      Lake Joseph|       Cash|
|   2169|    Carolyn Daniel|    Electronics|      14.09|2023-10-07|     Delivered|    0.25|         Grayside|Credit Card|
|   6313|       Patty Perez|      Groceries|      79.83|2023-06-27|     Cancelled|    0.12|      Richardland|Credit Card|
|   6155|Jonathan Wilkerson|        Fashion|     882.68|2024-10-14|     Cancelled|    0.27|       Thomasberg|       Cash|
|   9830|       Kevin Hurst|          Books|     870.55|2024-04-08|     Delivered|    0.22|      Jeffreyberg|     Wallet|
|   9085| Anthony Rodriguez|      Groceries|     921.73|2024-10-02|     Cancelled|    0.03|        Port Erin|        UPI|
|   2040|     Kyle Mcdonald|           Toys|     327.52|2023-12-15|      Returned|    0.06|Lake Jenniferside|     Wallet|
|   6573|    Jeffrey Chavez|          Books|     676.02|2024-12-14|     Cancelled|    0.19|      Teresaburgh|     Wallet|
|   2743|  Elizabeth Fowler|    Electronics|      47.06|2024-09-18|     Delivered|    0.13|   East Nathaniel|       Cash|
|   9837|     Tammy Sellers|          Books|      46.15|2024-09-10|     Cancelled|    0.05|       Tracyville|        UPI|
|   6038|     David Bradley|        Fashion|     348.51|2023-08-03|      Returned|    0.23|    Lake Toddland|        UPI|
|   3060|       John Pierce|           Toys|     362.09|2023-12-25|      Returned|    0.03|       Brandtside|       Cash|
|   4295|   Jennifer Powers|    Electronics|     684.26|2024-03-19|     Cancelled|    0.21|         Lammouth|        UPI|
|   5061|    George Chapman|    Electronics|     251.89|2023-11-28|       Pending|    0.27|       North Chad|       Cash|
+-------+------------------+---------------+-----------+----------+--------------+--------+-----------------+-----------+
only showing top 20 rows

In [37]:
# 3.2 Add a new column FinalAmount = Amount - (Amount * Discount)
df = df.withColumn("FinalAmount", F.round(df["OrderAmount"] - (df["OrderAmount"] * df["Discount"]), 2))
df.show()

+-------+------------------+---------------+-----------+----------+--------------+--------+-----------------+-----------+-------------+-----------+
|OrderID|      CustomerName|ProductCategory|OrderAmount| OrderDate|DeliveryStatus|Discount|             City|PaymentMode|CustomerSince|FinalAmount|
+-------+------------------+---------------+-----------+----------+--------------+--------+-----------------+-----------+-------------+-----------+
|   2824|     Donald Walker|          Books|     783.04|2024-12-26|      Returned|    0.15|     Lake Joyside|Credit Card|   2020-10-15|     665.58|
|   7912|      Brandon Hall|      Groceries|      905.0|2024-09-12|     Cancelled|    0.03|    New Jamesside|     Wallet|   2022-03-15|     877.85|
|   4611|      Donald Booth|        Fashion|     657.96|2025-01-12|      Returned|    0.01|     Lake Roberto|     Wallet|   2021-08-07|     651.38|
|   3547|    Phillip Garcia|        Fashion|     606.89|2024-03-24|      Returned|    0.15| West Melanieview|     Wallet|   2020-08-08|     515.86|
|   8527|      Valerie Gray|           Toys|      77.87|2024-08-04|     Delivered|    0.17|        Mariastad|       Cash|   2022-11-15|      64.63|
|   4150|       Amber Perez|          Books|     352.37|2024-01-13|     Cancelled|    0.24|  Port Jesseville|       Cash|   2022-01-13|      267.8|
|   5554|        Roy Martin|           Toys|     148.33|2024-03-04|     Cancelled|    0.27|      Lake Joseph|       Cash|   2023-04-29|     108.28|
|   2169|    Carolyn Daniel|    Electronics|      14.09|2023-10-07|     Delivered|    0.25|         Grayside|Credit Card|   2021-05-09|      10.57|
|   6313|       Patty Perez|      Groceries|      79.83|2023-06-27|     Cancelled|    0.12|      Richardland|Credit Card|   2021-04-25|      70.25|
|   6155|Jonathan Wilkerson|        Fashion|     882.68|2024-10-14|     Cancelled|    0.27|       Thomasberg|       Cash|   2021-06-20|     644.36|
|   9830|       Kevin Hurst|          Books|     870.55|2024-04-08|     Delivered|    0.22|      Jeffreyberg|     Wallet|   2022-08-02|     679.03|
|   9085| Anthony Rodriguez|      Groceries|     921.73|2024-10-02|     Cancelled|    0.03|        Port Erin|        UPI|   2022-12-15|     894.08|
|   2040|     Kyle Mcdonald|           Toys|     327.52|2023-12-15|      Returned|    0.06|Lake Jenniferside|     Wallet|   2021-07-21|     307.87|
|   6573|    Jeffrey Chavez|          Books|     676.02|2024-12-14|     Cancelled|    0.19|      Teresaburgh|     Wallet|   2022-07-30|     547.58|
|   2743|  Elizabeth Fowler|    Electronics|      47.06|2024-09-18|     Delivered|    0.13|   East Nathaniel|       Cash|   2021-02-07|      40.94|
|   9837|     Tammy Sellers|          Books|      46.15|2024-09-10|     Cancelled|    0.05|       Tracyville|        UPI|   2021-12-17|      43.84|
|   6038|     David Bradley|        Fashion|     348.51|2023-08-03|      Returned|    0.23|    Lake Toddland|        UPI|   2022-09-07|     268.35|
|   3060|       John Pierce|           Toys|     362.09|2023-12-25|      Returned|    0.03|       Brandtside|       Cash|   2023-05-09|     351.23|
|   4295|   Jennifer Powers|    Electronics|     684.26|2024-03-19|     Cancelled|    0.21|         Lammouth|        UPI|   2020-12-06|     540.57|
|   5061|    George Chapman|    Electronics|     251.89|2023-11-28|       Pending|    0.27|       North Chad|       Cash|   2023-02-07|     183.88|
+-------+------------------+---------------+-----------+----------+--------------+--------+-----------------+-----------+-------------+-----------+
only showing top 20 rows

In [39]:
# 3.3 Sort by FinalAmount descending.
df.sort("FinalAmount", ascending=False).show()

+-------+-----------------+---------------+-----------+----------+--------------+--------+-----------------+-----------+-------------+-----------+
|OrderID|     CustomerName|ProductCategory|OrderAmount| OrderDate|DeliveryStatus|Discount|             City|PaymentMode|CustomerSince|FinalAmount|
+-------+-----------------+---------------+-----------+----------+--------------+--------+-----------------+-----------+-------------+-----------+
|   5573|   Jordan Frazier|          Books|     981.05|2025-03-19|     Cancelled|    0.02|      Sheilaville|       Cash|   2021-07-12|     961.43|
|   8474|      Heidi Brown|    Electronics|     968.91|2023-11-23|     Cancelled|    0.02|       Riverafort|       Cash|   2023-03-19|     949.53|
|   8889|      Karen Garza|          Books|      998.3|2024-10-17|     Cancelled|    0.06|       Johnsonton|Credit Card|   2020-12-17|      938.4|
|   2127|     Jaclyn Moore|      Groceries|     933.32|2025-03-11|      Returned|    0.01|      Cherylhaven|       Cash|   2020-06-14|     923.99|
|   9806|    Samantha Gill|      Groceries|     993.17|2024-11-12|     Cancelled|    0.07|     New Seanstad|     Wallet|   2020-10-01|     923.65|
|   5593|   Kristy Johnson|        Fashion|     961.35|2025-05-24|      Returned|    0.05|    Alexisborough|       Cash|   2022-11-30|     913.28|
|   2120| Alejandra Santos|    Electronics|     948.84|2024-05-09|      Returned|    0.04|     Jenniferberg|     Wallet|   2022-03-03|     910.89|
|   5949|Dr. Michael Evans|           Toys|     918.14|2023-07-29|       Pending|    0.01|   East Scottfort|     Wallet|   2022-05-24|     908.96|
|   1422|    Hunter Kramer|          Books|      973.2|2024-09-02|      Returned|    0.07|       Alfredview|       Cash|   2020-08-22|     905.08|
|   2904|   Michelle Burns|        Fashion|     922.29|2025-05-01|      Returned|    0.02|      Stokesmouth|Credit Card|   2020-12-23|     903.84|
|   7566|    Jesus Houston|        Fashion|     899.31|2024-11-19|     Delivered|     0.0|       Marshburgh|Credit Card|   2020-11-24|     899.31|
|   7511|      Regina Diaz|           Toys|     932.21|2025-02-06|     Cancelled|    0.04|        Smithside|       Cash|   2020-12-10|     894.92|
|   9085|Anthony Rodriguez|      Groceries|     921.73|2024-10-02|     Cancelled|    0.03|        Port Erin|        UPI|   2022-12-15|     894.08|
|   1436|     James Brooks|      Groceries|     978.96|2024-03-28|     Cancelled|    0.09|West Jeffreymouth|Credit Card|   2020-11-02|     890.85|
|   6008|  Brittany Knight|          Books|     903.71|2025-02-19|       Pending|    0.02|       Susanburgh|       Cash|   2020-06-09|     885.64|
|   9834|   Timothy Duncan|    Electronics|     944.55|2024-06-04|     Cancelled|    0.07|      Port Thomas|     Wallet|   2022-02-24|     878.43|
|   8253|  Kevin Patterson|          Books|     998.21|2024-08-17|     Cancelled|    0.12|   New Susanville|        UPI|   2021-04-20|     878.42|
|   7912|     Brandon Hall|      Groceries|      905.0|2024-09-12|     Cancelled|    0.03|    New Jamesside|     Wallet|   2022-03-15|     877.85|
|   1654|   Frank Williams|          Books|     903.78|2025-05-27|     Cancelled|    0.03|       Tracyshire|     Wallet|   2022-10-04|     876.67|
|   9239|    Tracy Montoya|    Electronics|     897.41|2025-02-14|     Cancelled|    0.04|        Port John|     Wallet|   2023-02-23|     861.51|
+-------+-----------------+---------------+-----------+----------+--------------+--------+-----------------+-----------+-------------+-----------+
only showing top 20 rows

In [42]:
# 3.4 Replace all “Cancelled” status with “Order Cancelled”.
df.replace("Cancelled", "Order Cancelled", subset="DeliveryStatus").show()

+-------+------------------+---------------+-----------+----------+---------------+--------+-----------------+-----------+-------------+-----------+
|OrderID|      CustomerName|ProductCategory|OrderAmount| OrderDate| DeliveryStatus|Discount|             City|PaymentMode|CustomerSince|FinalAmount|
+-------+------------------+---------------+-----------+----------+---------------+--------+-----------------+-----------+-------------+-----------+
|   2824|     Donald Walker|          Books|     783.04|2024-12-26|       Returned|    0.15|     Lake Joyside|Credit Card|   2020-10-15|     665.58|
|   7912|      Brandon Hall|      Groceries|      905.0|2024-09-12|Order Cancelled|    0.03|    New Jamesside|     Wallet|   2022-03-15|     877.85|
|   4611|      Donald Booth|        Fashion|     657.96|2025-01-12|       Returned|    0.01|     Lake Roberto|     Wallet|   2021-08-07|     651.38|
|   3547|    Phillip Garcia|        Fashion|     606.89|2024-03-24|       Returned|    0.15| West Melanieview|     Wallet|   2020-08-08|     515.86|
|   8527|      Valerie Gray|           Toys|      77.87|2024-08-04|      Delivered|    0.17|        Mariastad|       Cash|   2022-11-15|      64.63|
|   4150|       Amber Perez|          Books|     352.37|2024-01-13|Order Cancelled|    0.24|  Port Jesseville|       Cash|   2022-01-13|      267.8|
|   5554|        Roy Martin|           Toys|     148.33|2024-03-04|Order Cancelled|    0.27|      Lake Joseph|       Cash|   2023-04-29|     108.28|
|   2169|    Carolyn Daniel|    Electronics|      14.09|2023-10-07|      Delivered|    0.25|         Grayside|Credit Card|   2021-05-09|      10.57|
|   6313|       Patty Perez|      Groceries|      79.83|2023-06-27|Order Cancelled|    0.12|      Richardland|Credit Card|   2021-04-25|      70.25|
|   6155|Jonathan Wilkerson|        Fashion|     882.68|2024-10-14|Order Cancelled|    0.27|       Thomasberg|       Cash|   2021-06-20|     644.36|
|   9830|       Kevin Hurst|          Books|     870.55|2024-04-08|      Delivered|    0.22|      Jeffreyberg|     Wallet|   2022-08-02|     679.03|
|   9085| Anthony Rodriguez|      Groceries|     921.73|2024-10-02|Order Cancelled|    0.03|        Port Erin|        UPI|   2022-12-15|     894.08|
|   2040|     Kyle Mcdonald|           Toys|     327.52|2023-12-15|       Returned|    0.06|Lake Jenniferside|     Wallet|   2021-07-21|     307.87|
|   6573|    Jeffrey Chavez|          Books|     676.02|2024-12-14|Order Cancelled|    0.19|      Teresaburgh|     Wallet|   2022-07-30|     547.58|
|   2743|  Elizabeth Fowler|    Electronics|      47.06|2024-09-18|      Delivered|    0.13|   East Nathaniel|       Cash|   2021-02-07|      40.94|
|   9837|     Tammy Sellers|          Books|      46.15|2024-09-10|Order Cancelled|    0.05|       Tracyville|        UPI|   2021-12-17|      43.84|
|   6038|     David Bradley|        Fashion|     348.51|2023-08-03|       Returned|    0.23|    Lake Toddland|        UPI|   2022-09-07|     268.35|
|   3060|       John Pierce|           Toys|     362.09|2023-12-25|       Returned|    0.03|       Brandtside|       Cash|   2023-05-09|     351.23|
|   4295|   Jennifer Powers|    Electronics|     684.26|2024-03-19|Order Cancelled|    0.21|         Lammouth|        UPI|   2020-12-06|     540.57|
|   5061|    George Chapman|    Electronics|     251.89|2023-11-28|        Pending|    0.27|       North Chad|       Cash|   2023-02-07|     183.88|
+-------+------------------+---------------+-----------+----------+---------------+--------+-----------------+-----------+-------------+-----------+
only showing top 20 rows

# **Aggregations and GroupBy**

In [43]:
# 4.1 Count of orders by DeliveryStatus.
df.groupBy("DeliveryStatus").agg(F.count("OrderID").alias("OrderCounts")).show()

+--------------+-----------+
|DeliveryStatus|OrderCounts|
+--------------+-----------+
|      Returned|        117|
|     Cancelled|        149|
|     Delivered|        119|
|       Pending|        115|
+--------------+-----------+

In [46]:
# 4.2 Average Amount by ProductCategory.
df.groupBy("ProductCategory").agg(F.round(F.avg("OrderAmount"), 2).alias("Avergage")).show()

+---------------+--------+
|ProductCategory|Avergage|
+---------------+--------+
|        Fashion|  500.63|
|      Groceries|  459.52|
|    Electronics|  551.75|
|          Books|   568.6|
|           Toys|  534.28|
+---------------+--------+

In [47]:
# 4.3 Group by City and show total sales.
df.groupby("City").agg(F.round(F.sum("OrderAmount"), 2).alias("Total Sales")).show()

+----------------+-----------+
|            City|Total Sales|
+----------------+-----------+
|     Ramseymouth|     761.06|
|East Edwardshire|     291.26|
|      Thomasberg|     882.68|
|     Laurenville|     383.26|
| South Colinstad|     786.27|
|    Lake Douglas|     975.09|
|   Williamsmouth|      10.78|
|      Gordonport|     514.99|
|  West Dawnmouth|       12.8|
|        Seanbury|     814.39|
|     Sheilaville|     981.05|
|       Mollybury|     222.02|
|       Lisaville|      45.69|
| Lake Jerrymouth|     404.01|
|       Perezfort|     917.55|
|Port Nicoleshire|     133.78|
|  South Samantha|     229.46|
|     Port Willie|     788.13|
|     Waltersfort|     552.81|
|       Youngbury|     372.95|
+----------------+-----------+
only showing top 20 rows

# **Null Handling and Update**

In [56]:
# 5.1 Intentionally inject nulls in City column and handle them using fillna() , dropna()
intentional_data = [
    Row(OrderID=3001, CustomerName="Tharun", ProductCategory="Electronics", OrderAmount=999.99, OrderDate="2025-01-01", DeliveryStatus="Delivered", Discount=0.1, City=None, PaymentMode="UPI", CustomerSince="2019-03-10", FinalAmount=899.99),
    Row(OrderID=3002, CustomerName="Atithya", ProductCategory="Clothing", OrderAmount=459.50, OrderDate="2025-01-02", DeliveryStatus="Pending", Discount=0.05, City=None, PaymentMode="Cash", CustomerSince="2020-07-22", FinalAmount=436.53),
    Row(OrderID=3003, CustomerName="Lara Tyber", ProductCategory="Books", OrderAmount=120.00, OrderDate="2025-01-03", DeliveryStatus="Delivered", Discount=0.0, City=None, PaymentMode="Net Banking", CustomerSince="2018-12-05", FinalAmount=120.00),
    Row(OrderID=3004, CustomerName="Eren", ProductCategory="Toys", OrderAmount=340.00, OrderDate="2025-01-04", DeliveryStatus="Cancelled", Discount=0.2, City=None, PaymentMode="Credit Card", CustomerSince="2021-01-01", FinalAmount=272.00),
    Row(OrderID=3005, CustomerName="AK", ProductCategory="Home", OrderAmount=800.00, OrderDate="2025-01-05", DeliveryStatus="Delivered", Discount=0.1, City=None, PaymentMode="Debit Card", CustomerSince="2022-06-18", FinalAmount=720.00),
]
# intentional_df = spark.createDataFrame(intentional_data)

# df = df.union(intentional_df)

df.show(5)

df.fillna("Chennai").show(5)

df.dropna().show(5)

+-------+--------------+---------------+-----------+----------+--------------+--------+----------------+-----------+-------------+-----------+
|OrderID|  CustomerName|ProductCategory|OrderAmount| OrderDate|DeliveryStatus|Discount|            City|PaymentMode|CustomerSince|FinalAmount|
+-------+--------------+---------------+-----------+----------+--------------+--------+----------------+-----------+-------------+-----------+
|   2824| Donald Walker|          Books|     783.04|2024-12-26|      Returned|    0.15|    Lake Joyside|Credit Card|   2020-10-15|     665.58|
|   7912|  Brandon Hall|      Groceries|      905.0|2024-09-12|     Cancelled|    0.03|   New Jamesside|     Wallet|   2022-03-15|     877.85|
|   4611|  Donald Booth|        Fashion|     657.96|2025-01-12|      Returned|    0.01|    Lake Roberto|     Wallet|   2021-08-07|     651.38|
|   3547|Phillip Garcia|        Fashion|     606.89|2024-03-24|      Returned|    0.15|West Melanieview|     Wallet|   2020-08-08|     515.86|
|   8527|  Valerie Gray|           Toys|      77.87|2024-08-04|     Delivered|    0.17|       Mariastad|       Cash|   2022-11-15|      64.63|
+-------+--------------+---------------+-----------+----------+--------------+--------+----------------+-----------+-------------+-----------+
only showing top 5 rows

+-------+--------------+---------------+-----------+----------+--------------+--------+----------------+-----------+-------------+-----------+
|OrderID|  CustomerName|ProductCategory|OrderAmount| OrderDate|DeliveryStatus|Discount|            City|PaymentMode|CustomerSince|FinalAmount|
+-------+--------------+---------------+-----------+----------+--------------+--------+----------------+-----------+-------------+-----------+
|   2824| Donald Walker|          Books|     783.04|2024-12-26|      Returned|    0.15|    Lake Joyside|Credit Card|   2020-10-15|     665.58|
|   7912|  Brandon Hall|      Groceries|      905.0|2024-09-12|     Cancelled|    0.03|   New Jamesside|     Wallet|   2022-03-15|     877.85|
|   4611|  Donald Booth|        Fashion|     657.96|2025-01-12|      Returned|    0.01|    Lake Roberto|     Wallet|   2021-08-07|     651.38|
|   3547|Phillip Garcia|        Fashion|     606.89|2024-03-24|      Returned|    0.15|West Melanieview|     Wallet|   2020-08-08|     515.86|
|   8527|  Valerie Gray|           Toys|      77.87|2024-08-04|     Delivered|    0.17|       Mariastad|       Cash|   2022-11-15|      64.63|
+-------+--------------+---------------+-----------+----------+--------------+--------+----------------+-----------+-------------+-----------+
only showing top 5 rows

+-------+--------------+---------------+-----------+----------+--------------+--------+----------------+-----------+-------------+-----------+
|OrderID|  CustomerName|ProductCategory|OrderAmount| OrderDate|DeliveryStatus|Discount|            City|PaymentMode|CustomerSince|FinalAmount|
+-------+--------------+---------------+-----------+----------+--------------+--------+----------------+-----------+-------------+-----------+
|   2824| Donald Walker|          Books|     783.04|2024-12-26|      Returned|    0.15|    Lake Joyside|Credit Card|   2020-10-15|     665.58|
|   7912|  Brandon Hall|      Groceries|      905.0|2024-09-12|     Cancelled|    0.03|   New Jamesside|     Wallet|   2022-03-15|     877.85|
|   4611|  Donald Booth|        Fashion|     657.96|2025-01-12|      Returned|    0.01|    Lake Roberto|     Wallet|   2021-08-07|     651.38|
|   3547|Phillip Garcia|        Fashion|     606.89|2024-03-24|      Returned|    0.15|West Melanieview|     Wallet|   2020-08-08|     515.86|
|   8527|  Valerie Gray|           Toys|      77.87|2024-08-04|     Delivered|    0.17|       Mariastad|       Cash|   2022-11-15|      64.63|
+-------+--------------+---------------+-----------+----------+--------------+--------+----------------+-----------+-------------+-----------+
only showing top 5 rows

In [62]:
#5.2 Use .when().otherwise() in PySpark to tag high-value customers ( Amount > 800 ).
df.withColumn("Label", F.when(df.OrderAmount > 800, "High-Value Customers").otherwise("-1")).show()

+-------+------------------+---------------+-----------+----------+--------------+--------+-----------------+-----------+-------------+-----------+--------------------+
|OrderID|      CustomerName|ProductCategory|OrderAmount| OrderDate|DeliveryStatus|Discount|             City|PaymentMode|CustomerSince|FinalAmount|               Label|
+-------+------------------+---------------+-----------+----------+--------------+--------+-----------------+-----------+-------------+-----------+--------------------+
|   2824|     Donald Walker|          Books|     783.04|2024-12-26|      Returned|    0.15|     Lake Joyside|Credit Card|   2020-10-15|     665.58|                  -1|
|   7912|      Brandon Hall|      Groceries|      905.0|2024-09-12|     Cancelled|    0.03|    New Jamesside|     Wallet|   2022-03-15|     877.85|High-Value Customers|
|   4611|      Donald Booth|        Fashion|     657.96|2025-01-12|      Returned|    0.01|     Lake Roberto|     Wallet|   2021-08-07|     651.38|                  -1|
|   3547|    Phillip Garcia|        Fashion|     606.89|2024-03-24|      Returned|    0.15| West Melanieview|     Wallet|   2020-08-08|     515.86|                  -1|
|   8527|      Valerie Gray|           Toys|      77.87|2024-08-04|     Delivered|    0.17|        Mariastad|       Cash|   2022-11-15|      64.63|                  -1|
|   4150|       Amber Perez|          Books|     352.37|2024-01-13|     Cancelled|    0.24|  Port Jesseville|       Cash|   2022-01-13|      267.8|                  -1|
|   5554|        Roy Martin|           Toys|     148.33|2024-03-04|     Cancelled|    0.27|      Lake Joseph|       Cash|   2023-04-29|     108.28|                  -1|
|   2169|    Carolyn Daniel|    Electronics|      14.09|2023-10-07|     Delivered|    0.25|         Grayside|Credit Card|   2021-05-09|      10.57|                  -1|
|   6313|       Patty Perez|      Groceries|      79.83|2023-06-27|     Cancelled|    0.12|      Richardland|Credit Card|   2021-04-25|      70.25|                  -1|
|   6155|Jonathan Wilkerson|        Fashion|     882.68|2024-10-14|     Cancelled|    0.27|       Thomasberg|       Cash|   2021-06-20|     644.36|High-Value Customers|
|   9830|       Kevin Hurst|          Books|     870.55|2024-04-08|     Delivered|    0.22|      Jeffreyberg|     Wallet|   2022-08-02|     679.03|High-Value Customers|
|   9085| Anthony Rodriguez|      Groceries|     921.73|2024-10-02|     Cancelled|    0.03|        Port Erin|        UPI|   2022-12-15|     894.08|High-Value Customers|
|   2040|     Kyle Mcdonald|           Toys|     327.52|2023-12-15|      Returned|    0.06|Lake Jenniferside|     Wallet|   2021-07-21|     307.87|                  -1|
|   6573|    Jeffrey Chavez|          Books|     676.02|2024-12-14|     Cancelled|    0.19|      Teresaburgh|     Wallet|   2022-07-30|     547.58|                  -1|
|   2743|  Elizabeth Fowler|    Electronics|      47.06|2024-09-18|     Delivered|    0.13|   East Nathaniel|       Cash|   2021-02-07|      40.94|                  -1|
|   9837|     Tammy Sellers|          Books|      46.15|2024-09-10|     Cancelled|    0.05|       Tracyville|        UPI|   2021-12-17|      43.84|                  -1|
|   6038|     David Bradley|        Fashion|     348.51|2023-08-03|      Returned|    0.23|    Lake Toddland|        UPI|   2022-09-07|     268.35|                  -1|
|   3060|       John Pierce|           Toys|     362.09|2023-12-25|      Returned|    0.03|       Brandtside|       Cash|   2023-05-09|     351.23|                  -1|
|   4295|   Jennifer Powers|    Electronics|     684.26|2024-03-19|     Cancelled|    0.21|         Lammouth|        UPI|   2020-12-06|     540.57|                  -1|
|   5061|    George Chapman|    Electronics|     251.89|2023-11-28|       Pending|    0.27|       North Chad|       Cash|   2023-02-07|     183.88|                  -1|
+-------+------------------+---------------+-----------+----------+--------------+--------+-----------------+-----------+-------------+-----------+--------------------+
only showing top 20 rows

# **Date & Time Functions**

In [63]:
# 6.1 Extract year and month from OrderDate .
df.select("OrderDate", F.year("OrderDate").alias("Year"), F.month("OrderDate").alias("Month")).show()

+----------+----+-----+
| OrderDate|Year|Month|
+----------+----+-----+
|2024-12-26|2024|   12|
|2024-09-12|2024|    9|
|2025-01-12|2025|    1|
|2024-03-24|2024|    3|
|2024-08-04|2024|    8|
|2024-01-13|2024|    1|
|2024-03-04|2024|    3|
|2023-10-07|2023|   10|
|2023-06-27|2023|    6|
|2024-10-14|2024|   10|
|2024-04-08|2024|    4|
|2024-10-02|2024|   10|
|2023-12-15|2023|   12|
|2024-12-14|2024|   12|
|2024-09-18|2024|    9|
|2024-09-10|2024|    9|
|2023-08-03|2023|    8|
|2023-12-25|2023|   12|
|2024-03-19|2024|    3|
|2023-11-28|2023|   11|
+----------+----+-----+
only showing top 20 rows

In [66]:
# 6.2 Calculate customer loyalty in years = today - CustomerSince .
df.withColumn("Customer Loyalty", F.round((F.date_diff(F.current_date(), df["CustomerSince"])/365))).show()

+-------+------------------+---------------+-----------+----------+--------------+--------+-----------------+-----------+-------------+-----------+----------------+
|OrderID|      CustomerName|ProductCategory|OrderAmount| OrderDate|DeliveryStatus|Discount|             City|PaymentMode|CustomerSince|FinalAmount|Customer Loyalty|
+-------+------------------+---------------+-----------+----------+--------------+--------+-----------------+-----------+-------------+-----------+----------------+
|   2824|     Donald Walker|          Books|     783.04|2024-12-26|      Returned|    0.15|     Lake Joyside|Credit Card|   2020-10-15|     665.58|             5.0|
|   7912|      Brandon Hall|      Groceries|      905.0|2024-09-12|     Cancelled|    0.03|    New Jamesside|     Wallet|   2022-03-15|     877.85|             3.0|
|   4611|      Donald Booth|        Fashion|     657.96|2025-01-12|      Returned|    0.01|     Lake Roberto|     Wallet|   2021-08-07|     651.38|             4.0|
|   3547|    Phillip Garcia|        Fashion|     606.89|2024-03-24|      Returned|    0.15| West Melanieview|     Wallet|   2020-08-08|     515.86|             5.0|
|   8527|      Valerie Gray|           Toys|      77.87|2024-08-04|     Delivered|    0.17|        Mariastad|       Cash|   2022-11-15|      64.63|             3.0|
|   4150|       Amber Perez|          Books|     352.37|2024-01-13|     Cancelled|    0.24|  Port Jesseville|       Cash|   2022-01-13|      267.8|             3.0|
|   5554|        Roy Martin|           Toys|     148.33|2024-03-04|     Cancelled|    0.27|      Lake Joseph|       Cash|   2023-04-29|     108.28|             2.0|
|   2169|    Carolyn Daniel|    Electronics|      14.09|2023-10-07|     Delivered|    0.25|         Grayside|Credit Card|   2021-05-09|      10.57|             4.0|
|   6313|       Patty Perez|      Groceries|      79.83|2023-06-27|     Cancelled|    0.12|      Richardland|Credit Card|   2021-04-25|      70.25|             4.0|
|   6155|Jonathan Wilkerson|        Fashion|     882.68|2024-10-14|     Cancelled|    0.27|       Thomasberg|       Cash|   2021-06-20|     644.36|             4.0|
|   9830|       Kevin Hurst|          Books|     870.55|2024-04-08|     Delivered|    0.22|      Jeffreyberg|     Wallet|   2022-08-02|     679.03|             3.0|
|   9085| Anthony Rodriguez|      Groceries|     921.73|2024-10-02|     Cancelled|    0.03|        Port Erin|        UPI|   2022-12-15|     894.08|             2.0|
|   2040|     Kyle Mcdonald|           Toys|     327.52|2023-12-15|      Returned|    0.06|Lake Jenniferside|     Wallet|   2021-07-21|     307.87|             4.0|
|   6573|    Jeffrey Chavez|          Books|     676.02|2024-12-14|     Cancelled|    0.19|      Teresaburgh|     Wallet|   2022-07-30|     547.58|             3.0|
|   2743|  Elizabeth Fowler|    Electronics|      47.06|2024-09-18|     Delivered|    0.13|   East Nathaniel|       Cash|   2021-02-07|      40.94|             4.0|
|   9837|     Tammy Sellers|          Books|      46.15|2024-09-10|     Cancelled|    0.05|       Tracyville|        UPI|   2021-12-17|      43.84|             3.0|
|   6038|     David Bradley|        Fashion|     348.51|2023-08-03|      Returned|    0.23|    Lake Toddland|        UPI|   2022-09-07|     268.35|             3.0|
|   3060|       John Pierce|           Toys|     362.09|2023-12-25|      Returned|    0.03|       Brandtside|       Cash|   2023-05-09|     351.23|             2.0|
|   4295|   Jennifer Powers|    Electronics|     684.26|2024-03-19|     Cancelled|    0.21|         Lammouth|        UPI|   2020-12-06|     540.57|             4.0|
|   5061|    George Chapman|    Electronics|     251.89|2023-11-28|       Pending|    0.27|       North Chad|       Cash|   2023-02-07|     183.88|             2.0|
+-------+------------------+---------------+-----------+----------+--------------+--------+-----------------+-----------+-------------+-----------+----------------+
only showing top 20 rows

# **Joins and Unions**

In [68]:
# 7.1 Create a second DataFrame with city-wise region mapping.
data = [
    Row(City="Lake Roberto", Region="East"),
    Row(City="Port Jesseville", Region="West"),
    Row(City="Grayside", Region="South"),
    Row(City="Lake Joseph", Region="North"),
    Row(City="Mariastad", Region="West")
]

second_df = spark.createDataFrame(data)
second_df.show()

+---------------+------+
|           City|Region|
+---------------+------+
|   Lake Roberto|  East|
|Port Jesseville|  West|
|       Grayside| South|
|    Lake Joseph| North|
|      Mariastad|  West|
+---------------+------+

In [70]:
# 7.2 Perform inner and left joins with the main dataset.
df.join(second_df, how="inner", on="City").show()
df.join(second_df, how="left", on="city").show()

+---------------+-------+--------------+---------------+-----------+----------+--------------+--------+-----------+-------------+-----------+------+
|           City|OrderID|  CustomerName|ProductCategory|OrderAmount| OrderDate|DeliveryStatus|Discount|PaymentMode|CustomerSince|FinalAmount|Region|
+---------------+-------+--------------+---------------+-----------+----------+--------------+--------+-----------+-------------+-----------+------+
|Port Jesseville|   4150|   Amber Perez|          Books|     352.37|2024-01-13|     Cancelled|    0.24|       Cash|   2022-01-13|      267.8|  West|
|   Lake Roberto|   4611|  Donald Booth|        Fashion|     657.96|2025-01-12|      Returned|    0.01|     Wallet|   2021-08-07|     651.38|  East|
|    Lake Joseph|   5554|    Roy Martin|           Toys|     148.33|2024-03-04|     Cancelled|    0.27|       Cash|   2023-04-29|     108.28| North|
|       Grayside|   2169|Carolyn Daniel|    Electronics|      14.09|2023-10-07|     Delivered|    0.25|Credit Card|   2021-05-09|      10.57| South|
|      Mariastad|   8527|  Valerie Gray|           Toys|      77.87|2024-08-04|     Delivered|    0.17|       Cash|   2022-11-15|      64.63|  West|
+---------------+-------+--------------+---------------+-----------+----------+--------------+--------+-----------+-------------+-----------+------+

+-----------------+-------+------------------+---------------+-----------+----------+--------------+--------+-----------+-------------+-----------+------+
|             City|OrderID|      CustomerName|ProductCategory|OrderAmount| OrderDate|DeliveryStatus|Discount|PaymentMode|CustomerSince|FinalAmount|Region|
+-----------------+-------+------------------+---------------+-----------+----------+--------------+--------+-----------+-------------+-----------+------+
|       Thomasberg|   6155|Jonathan Wilkerson|        Fashion|     882.68|2024-10-14|     Cancelled|    0.27|       Cash|   2021-06-20|     644.36|  NULL|
|   East Nathaniel|   2743|  Elizabeth Fowler|    Electronics|      47.06|2024-09-18|     Delivered|    0.13|       Cash|   2021-02-07|      40.94|  NULL|
|  Port Jesseville|   4150|       Amber Perez|          Books|     352.37|2024-01-13|     Cancelled|    0.24|       Cash|   2022-01-13|      267.8|  West|
|       North Chad|   5061|    George Chapman|    Electronics|     251.89|2023-11-28|       Pending|    0.27|       Cash|   2023-02-07|     183.88|  NULL|
|    Lake Toddland|   6038|     David Bradley|        Fashion|     348.51|2023-08-03|      Returned|    0.23|        UPI|   2022-09-07|     268.35|  NULL|
|     Lake Joyside|   2824|     Donald Walker|          Books|     783.04|2024-12-26|      Returned|    0.15|Credit Card|   2020-10-15|     665.58|  NULL|
|       Brandtside|   3060|       John Pierce|           Toys|     362.09|2023-12-25|      Returned|    0.03|       Cash|   2023-05-09|     351.23|  NULL|
|   West Elizabeth|   1964|      Taylor Heath|           Toys|      578.5|2023-07-28|     Cancelled|    0.01|       Cash|   2021-04-30|     572.72|  NULL|
|Lake Jenniferside|   2040|     Kyle Mcdonald|           Toys|     327.52|2023-12-15|      Returned|    0.06|     Wallet|   2021-07-21|     307.87|  NULL|
|        Port Erin|   9085| Anthony Rodriguez|      Groceries|     921.73|2024-10-02|     Cancelled|    0.03|        UPI|   2022-12-15|     894.08|  NULL|
|      Teresaburgh|   6573|    Jeffrey Chavez|          Books|     676.02|2024-12-14|     Cancelled|    0.19|     Wallet|   2022-07-30|     547.58|  NULL|
|     Lake Roberto|   4611|      Donald Booth|        Fashion|     657.96|2025-01-12|      Returned|    0.01|     Wallet|   2021-08-07|     651.38|  East|
|       Tracyville|   9837|     Tammy Sellers|          Books|      46.15|2024-09-10|     Cancelled|    0.05|        UPI|   2021-12-17|      43.84|  NULL|
|      Jeffreyberg|   9830|       Kevin Hurst|          Books|     870.55|2024-04-08|     Delivered|    0.22|     Wallet|   2022-08-02|     679.03|  NULL|
|      Lake Joseph|   5554|        Roy Martin|           Toys|     148.33|2024-03-04|     Cancelled|    0.27|       Cash|   2023-04-29|     108.28| North|
| West Melanieview|   3547|    Phillip Garcia|        Fashion|     606.89|2024-03-24|      Returned|    0.15|     Wallet|   2020-08-08|     515.86|  NULL|
|    New Jamesside|   7912|      Brandon Hall|      Groceries|      905.0|2024-09-12|     Cancelled|    0.03|     Wallet|   2022-03-15|     877.85|  NULL|
|         Grayside|   2169|    Carolyn Daniel|    Electronics|      14.09|2023-10-07|     Delivered|    0.25|Credit Card|   2021-05-09|      10.57| South|
|        Mariastad|   8527|      Valerie Gray|           Toys|      77.87|2024-08-04|     Delivered|    0.17|       Cash|   2022-11-15|      64.63|  West|
|      Richardland|   6313|       Patty Perez|      Groceries|      79.83|2023-06-27|     Cancelled|    0.12|Credit Card|   2021-04-25|      70.25|  NULL|
+-----------------+-------+------------------+---------------+-----------+----------+--------------+--------+-----------+-------------+-----------+------+
only showing top 20 rows

In [71]:
# 7.3 Union two datasets: e.g., orders from 2023 and 2024.
df_2023 = df.filter(F.year(df.OrderDate) == 2023)
df_2024 = df.filter(F.year(df.OrderDate) == 2024)

df_2023.union(df_2024).show()

+-------+----------------+---------------+-----------+----------+--------------+--------+-----------------+-----------+-------------+-----------+
|OrderID|    CustomerName|ProductCategory|OrderAmount| OrderDate|DeliveryStatus|Discount|             City|PaymentMode|CustomerSince|FinalAmount|
+-------+----------------+---------------+-----------+----------+--------------+--------+-----------------+-----------+-------------+-----------+
|   2169|  Carolyn Daniel|    Electronics|      14.09|2023-10-07|     Delivered|    0.25|         Grayside|Credit Card|   2021-05-09|      10.57|
|   6313|     Patty Perez|      Groceries|      79.83|2023-06-27|     Cancelled|    0.12|      Richardland|Credit Card|   2021-04-25|      70.25|
|   2040|   Kyle Mcdonald|           Toys|     327.52|2023-12-15|      Returned|    0.06|Lake Jenniferside|     Wallet|   2021-07-21|     307.87|
|   6038|   David Bradley|        Fashion|     348.51|2023-08-03|      Returned|    0.23|    Lake Toddland|        UPI|   2022-09-07|     268.35|
|   3060|     John Pierce|           Toys|     362.09|2023-12-25|      Returned|    0.03|       Brandtside|       Cash|   2023-05-09|     351.23|
|   5061|  George Chapman|    Electronics|     251.89|2023-11-28|       Pending|    0.27|       North Chad|       Cash|   2023-02-07|     183.88|
|   1964|    Taylor Heath|           Toys|      578.5|2023-07-28|     Cancelled|    0.01|   West Elizabeth|       Cash|   2021-04-30|     572.72|
|   2612|Nicholas Mcbride|        Fashion|     219.05|2023-08-26|     Delivered|    0.27|       East James|        UPI|   2022-04-29|     159.91|
|   1828|  Kimberly Smith|           Toys|      89.01|2023-08-14|     Delivered|    0.04|     East Richard|Credit Card|   2022-06-19|      85.45|
|   4502|Stephanie Martin|    Electronics|     656.32|2023-06-04|       Pending|     0.2|       Bakermouth|Credit Card|   2021-08-19|     525.06|
|   1958| Kimberly Adkins|    Electronics|      98.66|2023-07-17|     Cancelled|    0.13|  New Thomashaven|     Wallet|   2021-02-01|      85.83|
|   5905| Ashley Humphrey|          Books|     844.87|2023-12-25|       Pending|    0.28|  North Juliaberg|       Cash|   2021-07-30|     608.31|
|   8239|   Jessica Smith|          Books|     610.08|2023-07-31|     Delivered|    0.09|        New Barry|        UPI|   2021-12-27|     555.17|
|   9379|      Steven Lee|          Books|     181.97|2023-07-07|      Returned|    0.22|        Smithside|        UPI|   2023-05-04|     141.94|
|   3851|Elizabeth Kelley|        Fashion|     517.15|2023-06-03|     Cancelled|    0.19|    Justinchester|Credit Card|   2022-11-19|     418.89|
|   1757|   John Atkinson|          Books|     724.04|2023-07-29|      Returned|    0.06|       Perryshire|       Cash|   2021-03-31|      680.6|
|   9486|   Justin Lowery|    Electronics|     554.55|2023-09-05|       Pending|    0.24|    Andersonmouth|     Wallet|   2023-04-05|     421.46|
|   3607|     Karen Green|          Books|     621.24|2023-12-12|     Cancelled|    0.18|       Katiehaven|        UPI|   2022-06-24|     509.42|
|   4919|  Billy Mitchell|    Electronics|     653.51|2023-12-31|     Delivered|    0.08|         Luisside|        UPI|   2020-10-05|     601.23|
|   3267| James Hernandez|          Books|     593.98|2023-11-16|      Returned|     0.2|   South Rickside|     Wallet|   2022-05-26|     475.18|
+-------+----------------+---------------+-----------+----------+--------------+--------+-----------------+-----------+-------------+-----------+
only showing top 20 rows

# **Complex JSON Simulation**

In [81]:
# 8.1 Convert each order to a JSON string and load it back into a DataFrame.
jso = df.toJSON()
jso.saveAsTextFile("jso.json")
dfJSON = spark.read.json(jso)
dfJSON.show()

+-----------------+------------------+-------------+--------------+--------+-----------+-----------+----------+-------+-----------+---------------+
|             City|      CustomerName|CustomerSince|DeliveryStatus|Discount|FinalAmount|OrderAmount| OrderDate|OrderID|PaymentMode|ProductCategory|
+-----------------+------------------+-------------+--------------+--------+-----------+-----------+----------+-------+-----------+---------------+
|     Lake Joyside|     Donald Walker|   2020-10-15|      Returned|    0.15|     665.58|     783.04|2024-12-26|   2824|Credit Card|          Books|
|    New Jamesside|      Brandon Hall|   2022-03-15|     Cancelled|    0.03|     877.85|      905.0|2024-09-12|   7912|     Wallet|      Groceries|
|     Lake Roberto|      Donald Booth|   2021-08-07|      Returned|    0.01|     651.38|     657.96|2025-01-12|   4611|     Wallet|        Fashion|
| West Melanieview|    Phillip Garcia|   2020-08-08|      Returned|    0.15|     515.86|     606.89|2024-03-24|   3547|     Wallet|        Fashion|
|        Mariastad|      Valerie Gray|   2022-11-15|     Delivered|    0.17|      64.63|      77.87|2024-08-04|   8527|       Cash|           Toys|
|  Port Jesseville|       Amber Perez|   2022-01-13|     Cancelled|    0.24|      267.8|     352.37|2024-01-13|   4150|       Cash|          Books|
|      Lake Joseph|        Roy Martin|   2023-04-29|     Cancelled|    0.27|     108.28|     148.33|2024-03-04|   5554|       Cash|           Toys|
|         Grayside|    Carolyn Daniel|   2021-05-09|     Delivered|    0.25|      10.57|      14.09|2023-10-07|   2169|Credit Card|    Electronics|
|      Richardland|       Patty Perez|   2021-04-25|     Cancelled|    0.12|      70.25|      79.83|2023-06-27|   6313|Credit Card|      Groceries|
|       Thomasberg|Jonathan Wilkerson|   2021-06-20|     Cancelled|    0.27|     644.36|     882.68|2024-10-14|   6155|       Cash|        Fashion|
|      Jeffreyberg|       Kevin Hurst|   2022-08-02|     Delivered|    0.22|     679.03|     870.55|2024-04-08|   9830|     Wallet|          Books|
|        Port Erin| Anthony Rodriguez|   2022-12-15|     Cancelled|    0.03|     894.08|     921.73|2024-10-02|   9085|        UPI|      Groceries|
|Lake Jenniferside|     Kyle Mcdonald|   2021-07-21|      Returned|    0.06|     307.87|     327.52|2023-12-15|   2040|     Wallet|           Toys|
|      Teresaburgh|    Jeffrey Chavez|   2022-07-30|     Cancelled|    0.19|     547.58|     676.02|2024-12-14|   6573|     Wallet|          Books|
|   East Nathaniel|  Elizabeth Fowler|   2021-02-07|     Delivered|    0.13|      40.94|      47.06|2024-09-18|   2743|       Cash|    Electronics|
|       Tracyville|     Tammy Sellers|   2021-12-17|     Cancelled|    0.05|      43.84|      46.15|2024-09-10|   9837|        UPI|          Books|
|    Lake Toddland|     David Bradley|   2022-09-07|      Returned|    0.23|     268.35|     348.51|2023-08-03|   6038|        UPI|        Fashion|
|       Brandtside|       John Pierce|   2023-05-09|      Returned|    0.03|     351.23|     362.09|2023-12-25|   3060|       Cash|           Toys|
|         Lammouth|   Jennifer Powers|   2020-12-06|     Cancelled|    0.21|     540.57|     684.26|2024-03-19|   4295|        UPI|    Electronics|
|       North Chad|    George Chapman|   2023-02-07|       Pending|    0.27|     183.88|     251.89|2023-11-28|   5061|       Cash|    Electronics|
+-----------------+------------------+-------------+--------------+--------+-----------+-----------+----------+-------+-----------+---------------+
only showing top 20 rows

In [85]:
# 8.2 Access nested fields using explode() and get_json_object().
print(F.get_json_object("/content/jso.json/part-00000", "$.CustomerName"))
print(F.explode(r"/content/jso.json/part-00000"))

jf = spark.read.json(r"/content/jso.json/part-00000")
jf.show()

Column<'get_json_object(/content/jso.json/part-00000, $.CustomerName)'>
Column<'explode(/content/jso.json/part-00000)'>
+-----------------+------------------+-------------+--------------+--------+-----------+-----------+----------+-------+-----------+---------------+
|             City|      CustomerName|CustomerSince|DeliveryStatus|Discount|FinalAmount|OrderAmount| OrderDate|OrderID|PaymentMode|ProductCategory|
+-----------------+------------------+-------------+--------------+--------+-----------+-----------+----------+-------+-----------+---------------+
|     Lake Joyside|     Donald Walker|   2020-10-15|      Returned|    0.15|     665.58|     783.04|2024-12-26|   2824|Credit Card|          Books|
|    New Jamesside|      Brandon Hall|   2022-03-15|     Cancelled|    0.03|     877.85|      905.0|2024-09-12|   7912|     Wallet|      Groceries|
|     Lake Roberto|      Donald Booth|   2021-08-07|      Returned|    0.01|     651.38|     657.96|2025-01-12|   4611|     Wallet|        Fashion|
| West Melanieview|    Phillip Garcia|   2020-08-08|      Returned|    0.15|     515.86|     606.89|2024-03-24|   3547|     Wallet|        Fashion|
|        Mariastad|      Valerie Gray|   2022-11-15|     Delivered|    0.17|      64.63|      77.87|2024-08-04|   8527|       Cash|           Toys|
|  Port Jesseville|       Amber Perez|   2022-01-13|     Cancelled|    0.24|      267.8|     352.37|2024-01-13|   4150|       Cash|          Books|
|      Lake Joseph|        Roy Martin|   2023-04-29|     Cancelled|    0.27|     108.28|     148.33|2024-03-04|   5554|       Cash|           Toys|
|         Grayside|    Carolyn Daniel|   2021-05-09|     Delivered|    0.25|      10.57|      14.09|2023-10-07|   2169|Credit Card|    Electronics|
|      Richardland|       Patty Perez|   2021-04-25|     Cancelled|    0.12|      70.25|      79.83|2023-06-27|   6313|Credit Card|      Groceries|
|       Thomasberg|Jonathan Wilkerson|   2021-06-20|     Cancelled|    0.27|     644.36|     882.68|2024-10-14|   6155|       Cash|        Fashion|
|      Jeffreyberg|       Kevin Hurst|   2022-08-02|     Delivered|    0.22|     679.03|     870.55|2024-04-08|   9830|     Wallet|          Books|
|        Port Erin| Anthony Rodriguez|   2022-12-15|     Cancelled|    0.03|     894.08|     921.73|2024-10-02|   9085|        UPI|      Groceries|
|Lake Jenniferside|     Kyle Mcdonald|   2021-07-21|      Returned|    0.06|     307.87|     327.52|2023-12-15|   2040|     Wallet|           Toys|
|      Teresaburgh|    Jeffrey Chavez|   2022-07-30|     Cancelled|    0.19|     547.58|     676.02|2024-12-14|   6573|     Wallet|          Books|
|   East Nathaniel|  Elizabeth Fowler|   2021-02-07|     Delivered|    0.13|      40.94|      47.06|2024-09-18|   2743|       Cash|    Electronics|
|       Tracyville|     Tammy Sellers|   2021-12-17|     Cancelled|    0.05|      43.84|      46.15|2024-09-10|   9837|        UPI|          Books|
|    Lake Toddland|     David Bradley|   2022-09-07|      Returned|    0.23|     268.35|     348.51|2023-08-03|   6038|        UPI|        Fashion|
|       Brandtside|       John Pierce|   2023-05-09|      Returned|    0.03|     351.23|     362.09|2023-12-25|   3060|       Cash|           Toys|
|         Lammouth|   Jennifer Powers|   2020-12-06|     Cancelled|    0.21|     540.57|     684.26|2024-03-19|   4295|        UPI|    Electronics|
|       North Chad|    George Chapman|   2023-02-07|       Pending|    0.27|     183.88|     251.89|2023-11-28|   5061|       Cash|    Electronics|
+-----------------+------------------+-------------+--------------+--------+-----------+-----------+----------+-------+-----------+---------------+
only showing top 20 rows

# **Applying Functions**

In [95]:
# 9.1 Create a function to tag orders: “Big”, “Medium”, “Small” based on Amount.

def tagger(amt, avg):
    if amt == avg:
        return "Medium"
    elif amt > avg:
        return "Big"
    else:
        return "Small"

In [98]:
# 9.2 Apply it using .apply() in Pandas, and UDF in PySpark.
func_1 = F.udf(tagger, StringType())

df.withColumn("tags", func_1(df['OrderAmount'], F.lit(300))).show()

+-------+------------------+---------------+-----------+----------+--------------+--------+-----------------+-----------+-------------+-----------+-----+
|OrderID|      CustomerName|ProductCategory|OrderAmount| OrderDate|DeliveryStatus|Discount|             City|PaymentMode|CustomerSince|FinalAmount| tags|
+-------+------------------+---------------+-----------+----------+--------------+--------+-----------------+-----------+-------------+-----------+-----+
|   2824|     Donald Walker|          Books|     783.04|2024-12-26|      Returned|    0.15|     Lake Joyside|Credit Card|   2020-10-15|     665.58|  Big|
|   7912|      Brandon Hall|      Groceries|      905.0|2024-09-12|     Cancelled|    0.03|    New Jamesside|     Wallet|   2022-03-15|     877.85|  Big|
|   4611|      Donald Booth|        Fashion|     657.96|2025-01-12|      Returned|    0.01|     Lake Roberto|     Wallet|   2021-08-07|     651.38|  Big|
|   3547|    Phillip Garcia|        Fashion|     606.89|2024-03-24|      Returned|    0.15| West Melanieview|     Wallet|   2020-08-08|     515.86|  Big|
|   8527|      Valerie Gray|           Toys|      77.87|2024-08-04|     Delivered|    0.17|        Mariastad|       Cash|   2022-11-15|      64.63|Small|
|   4150|       Amber Perez|          Books|     352.37|2024-01-13|     Cancelled|    0.24|  Port Jesseville|       Cash|   2022-01-13|      267.8|  Big|
|   5554|        Roy Martin|           Toys|     148.33|2024-03-04|     Cancelled|    0.27|      Lake Joseph|       Cash|   2023-04-29|     108.28|Small|
|   2169|    Carolyn Daniel|    Electronics|      14.09|2023-10-07|     Delivered|    0.25|         Grayside|Credit Card|   2021-05-09|      10.57|Small|
|   6313|       Patty Perez|      Groceries|      79.83|2023-06-27|     Cancelled|    0.12|      Richardland|Credit Card|   2021-04-25|      70.25|Small|
|   6155|Jonathan Wilkerson|        Fashion|     882.68|2024-10-14|     Cancelled|    0.27|       Thomasberg|       Cash|   2021-06-20|     644.36|  Big|
|   9830|       Kevin Hurst|          Books|     870.55|2024-04-08|     Delivered|    0.22|      Jeffreyberg|     Wallet|   2022-08-02|     679.03|  Big|
|   9085| Anthony Rodriguez|      Groceries|     921.73|2024-10-02|     Cancelled|    0.03|        Port Erin|        UPI|   2022-12-15|     894.08|  Big|
|   2040|     Kyle Mcdonald|           Toys|     327.52|2023-12-15|      Returned|    0.06|Lake Jenniferside|     Wallet|   2021-07-21|     307.87|  Big|
|   6573|    Jeffrey Chavez|          Books|     676.02|2024-12-14|     Cancelled|    0.19|      Teresaburgh|     Wallet|   2022-07-30|     547.58|  Big|
|   2743|  Elizabeth Fowler|    Electronics|      47.06|2024-09-18|     Delivered|    0.13|   East Nathaniel|       Cash|   2021-02-07|      40.94|Small|
|   9837|     Tammy Sellers|          Books|      46.15|2024-09-10|     Cancelled|    0.05|       Tracyville|        UPI|   2021-12-17|      43.84|Small|
|   6038|     David Bradley|        Fashion|     348.51|2023-08-03|      Returned|    0.23|    Lake Toddland|        UPI|   2022-09-07|     268.35|  Big|
|   3060|       John Pierce|           Toys|     362.09|2023-12-25|      Returned|    0.03|       Brandtside|       Cash|   2023-05-09|     351.23|  Big|
|   4295|   Jennifer Powers|    Electronics|     684.26|2024-03-19|     Cancelled|    0.21|         Lammouth|        UPI|   2020-12-06|     540.57|  Big|
|   5061|    George Chapman|    Electronics|     251.89|2023-11-28|       Pending|    0.27|       North Chad|       Cash|   2023-02-07|     183.88|Small|
+-------+------------------+---------------+-----------+----------+--------------+--------+-----------------+-----------+-------------+-----------+-----+
only showing top 20 rows