In [2]:
from pyspark.sql import SparkSession

In [4]:
spark = SparkSession.builder.appName("deo").getOrCreate()

In [5]:
spark

In [8]:
df = spark.read.csv("/content/drive/MyDrive/Datasets/sales.csv", inferSchema=True, header=True)

In [9]:
df.show()

+-------+--------+------+---------+----------+
|OrderID|Customer|Amount|   Status| OrderDate|
+-------+--------+------+---------+----------+
|    101|    Amit|   200|Delivered|2023-01-15|
|    102|    Neha|   450|  Pending|2023-01-20|
|    103|    Ravi|   300|Delivered|2023-01-25|
|    104|     Ali|   700|Cancelled|2023-01-30|
|    105|    Sara|   250|Delivered|2023-02-10|
+-------+--------+------+---------+----------+

In [10]:
df.filter(df.Status == "Delivered").show()

+-------+--------+------+---------+----------+
|OrderID|Customer|Amount|   Status| OrderDate|
+-------+--------+------+---------+----------+
|    101|    Amit|   200|Delivered|2023-01-15|
|    103|    Ravi|   300|Delivered|2023-01-25|
|    105|    Sara|   250|Delivered|2023-02-10|
+-------+--------+------+---------+----------+

In [11]:
df.groupby("Customer").agg({"Amount": "sum"}).show()

+--------+-----------+
|Customer|sum(Amount)|
+--------+-----------+
|    Ravi|        300|
|    Amit|        200|
|    Neha|        450|
|    Sara|        250|
|     Ali|        700|
+--------+-----------+

In [17]:
df.groupby("Status").agg({"Status": "count"}).show()

+---------+-------------+
|   Status|count(Status)|
+---------+-------------+
|Cancelled|            1|
|Delivered|            3|
|  Pending|            1|
+---------+-------------+